.typewriter {
  display: inline-block;
  position: relative;
}

.typewriter .text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end 2s infinite;
  animation-fill-mode: forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }
  33% {
    width: 100%;
  }
  66% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(107 114 128);
  }
}

.typewriter .text:nth-child(1)::before {
  content: "First sentence.";
}

.typewriter .text:nth-child(2)::before {
  content: "Second sentence.";
  animation-delay: 6s;
}

.typewriter .text:nth-child(3)::before {
  content: "Third sentence.";
  animation-delay: 12s;
}
